# Python
__pycache__/
*.pyc
.venv/
venv/
dist/
*.egg-info/

# C++
build/
bin/
obj/
out/
*.o
*.so
*.a
*.exe
*.dll
.idea/

# Universal
node_modules/
dist/
build/
*.log
.env*

.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
*.log
.env*
